.table {
    display: table;
    background-color: navy;
    width:100%;
    height: 100%;
    margin:0;
    padding:0;
}

.row {
    display:table-row;
    margin:0;
    padding:0;
}

.cell {
    display:table-cell;
    width: 25px;
    height: 25px;
    background-color: ghostwhite;
    margin:0;
    padding:0;
    text-align: center;
}