{%extends "board.html"%}

{%block title%}Opponent Board{%endblock%}

{% block extrastyle %}
{% endblock %}

{%block body%}
 <div class="table" >
     {% for row in board %}
     <div class="row" >
         {% for col in row %}
         {%if col == -1%}
         <div class="cell" >
             {%elif col >0%}
             <div class="cell" id="occupied">
             {%else%}
             <div class = "cell" id="unoccupied">
             {%endif%}
         </div>
         {% endfor %}
     </div>
     {% endfor %}
 </div>
{%endblock%}

{%block extrascripts%}
{%endblock%}
