{%extends "board.html"%}

{%block title%}Own Board{%endblock%}

{% block extrastyle %}
{% endblock %}

{%block body%}
 <div class="table">
     {% for row in board %}
     <div class="row">
         {% for col in row %}
         {%if col == -1%}
         <div class="cell">
         {%elif col == 1%}
         <div class="cell" id = "occupied">
         {%elif col == 0%}
         <div class = "cell" id = "unoccupied">
         {%else%}
         <div class="cell" id = "ship" style="background-image: url({{background_image[col]}}); background-repeat: no-repeat; background-size: auto 60px; background-position: center; ">
         {%endif%}
         </div>
         {% endfor %}
     </div>
     {% endfor %}
 </div>
{%endblock%}

{%block extrascripts%}
{%endblock%}
